<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="header_nav">
      <div>
        <%= link_to "Twitter Clone App", '/posts/', id: "logo" %>
      </div>
    </nav>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    <div class="footer_bar">
      <p>xxx all rights reserved. 2025</p>
    </div>
  </footer>
  </body>
</html>
